{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
	<h1>Hello {{ controller_name }}! ✅</h1>
	<h1 class="text-3xl font-bold underline mb-5">Hello world!</h1>

	This friendly message is coming from:
	<ul>
		<li>Your controller at <code>C:/laragon/www/learn-symfony/src/Controller/HomeController.php</code></li>
		<li>Your template at <code>C:/laragon/www/learn-symfony/templates/home/index.html.twig</code></li>
	</ul>
</div>
{% endblock %}
